* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000e09;
}

.calculator {
    width: 100%;
    max-width: 288px;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 5px gray;
    background: #fff;
}

.screen {
    background: orange;
    width: 100%;
    min-height: 100px;
    text-align: right;
    font-size: 30px;
    padding: 10px;
    color: whitesmoke;
}

.calcButtons {
    padding: 15px;
}

#buttons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#buttons li {
    font-size: 24px;
    color: #000;
    background: #ecedef;
    width: 20%;
    margin: 5px 2.5%;
    padding-top: 11px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
}

#buttons li:hover,
#buttons li:visited {
    background: #777777;
    color: #ffffff;
}

#buttons li:active {
    background: #000000;
}

#buttons li#equal {
    width: 100%;
    border-radius: 10px;
    ;
}