body {
    background-color: whitesmoke;
    font-family: sans-serif;
    margin: 0;
}

/* header-css */
header {
    height: 400px;
    width: 100%;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width {
    width: 25%;
}

.text {
    text-align: center;
}

.fuchsia-color-text {
    color: fuchsia;
}

.fuchsia-btn {
    background-color: fuchsia;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    margin-left: 5px;
}

.summer-sale-img {
    height: 400px;
}

/* kitchware-css */

.kitchware-section {
    display: flex;
}

.icon {
    height: 150px;
}

.grey-color {
    color: grey;
}

.img-white-bg {
    background-color: white;
    height: 380px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-right: 10px;
}

.buy-now-btn {
    height: 50px;
    width: 300px;
    background-color: rgba(0, 132, 255, 0.877);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.buy-now-btn:focus {
    outline: 3px solid fuchsia;
    background-color: rgba(0, 132, 255, 0.63);
    transition: outline 0.1s;
}

P {
    color: grey;
}

.bg-color-grey {
    background-color: whitesmoke;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* side */

section {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


.fivty-seven-persen-bg {
    width: 56%;
}

.tirty-persen-bg {
    margin-top: 50px;
}

/* left-side-style */
.have-coupon-text {
    margin-left: 28px;
}

.input-bg {
    display: flex;
    justify-content: center;
}

.input-text {
    height: 40px;
    font-size: 16px;
    border: 1px solid grey;
}



.have-coupon-bg {
    height: 120px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}

.last-bg {
    background-color: white;
    border-radius: 10px;
    padding: 15px;

}

hr {
    width: 280px;
    display: flex;
    justify-content: center;
}

.make-purchase-btn {
    height: 50px;
    width: 95%;
    margin-left: 2.6%;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.enabled-btn {
    background-color: fuchsia;
    color: white;
}

#product-names {
    padding-left: 15px;
}

@media (max-width: 900px) {
    .kitchware-section {
        display: inline;
    }

    section {
        display: inline;
    }

    header {
        display: inline;
    }
}

/* center-bg */
.popup-body {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.popup-box {
    background-color: white;
    width: 275px;
    height: 275px;
    text-align: center;
    padding: 25px;
    position: relative;
    top: 50%;
    left: 50%;

}

.popup-box h2 {
    font-size: 30px;
}

.congo-img {
    height: 80px;
}